<!-- your html code here -->
<div class="container-fluid bg-body pt-5 px-5">
    <div class="row">
        <hr class="border-top border-secondary mx-auto pt-5 bg-body" style="width: 80%;">
        <div class="col-8">
            <div>
                <h2><strong>This First Heading</strong> <span class="text-secondary">Will Catch Your Eye</span></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl
                    consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
        </div>
        <div class="col-4">
            <div>
                <img src="assets/img/1.jpg" class="img-fluid rounded-circle" alt="CEO">
            </div>
        </div>
    </div>
</div>