<!-- your html code here -->
<div class="fondo px-5 bg-light border-top border-secondary border-opacity-25 mx-auto pt-5 bg-body" style="width: 80%;">
  <h2 bg-light>Portfolio</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum doloremque molestiae atque labore itaque
    voluptatibus minima ullam fugiat ducimus cupiditate magnam ea delectus, placeat, quisquam cumque est voluptate
    similique! At.</p>
  <div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col">
      <div class="card border-light">
        <img src="https://img.freepik.com/foto-gratis/pared-gris-texturizada_53876-88964.jpg" class=""
          alt="...">
        <div class="card-body">
          <h5 class="card-title text-primary">Proyect Name</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light">
        <img src="https://img.freepik.com/foto-gratis/pared-gris-texturizada_53876-88964.jpg" class=""
          alt="...">
        <div class="card-body">
          <h5 class="card-title text-primary">Proyect Name</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-light">
        <img src="https://img.freepik.com/foto-gratis/pared-gris-texturizada_53876-88964.jpg" class=""
          alt="...">
        <div class="card-body">
          <h5 class="card-title text-primary">Proyect Name</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
            content.</p>
        </div>
      </div>
    </div>
  </div>
</div>